@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --orange: #ed7d31;
  --lightGery: #6c5f5b;
  --darkGrey: #4f4a45;
  --pale: #f7f7f7;
  --black: #131110;
  --orange-gradient: linear-gradient(to right, rgba(236, 159, 5) ,  rgba(255, 78, 0));;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.innerWidth {
  width: 100%;
}

.primaryText {
  color: #4f4a45;
  font-weight: bold;
  font-size: 2rem;
}

.secondaryText {
  color: #6c5f5b;
  font-size: 0.9rem;
}

.orangeText {
  color: #ed7d31;
  font-size: 1.5rem;
  font-weight: 600;
}

/* media queries */
@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}

