.search-bar {
  display: flex;
  align-items: center;
  width: clamp(12rem, 100%, 30rem);
  gap: 1rem;
  background: var(--pale);
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  border: 3px solid rgba(120, 120, 120, 0.374);
}

.search-bar > input {
  border: none;
  outline: none;
  width: 70%;
  background: var(--pale);
}

.search-bar > button {
  font-size: 12px;
  border-radius: 30px;
  padding: 10px 15px;
}
