.features-wrapper {
  background: var(--pale);
}
.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.features-desc {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.features-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 2rem;
}

@media screen and (max-width: 768px) {
  .features-cards {
    grid-template-columns: repeat(1, 1fr);
    margin: 0rem;
  }
}
