
.home-cards{
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 2rem;
    padding: 1rem;
  }
  
  .home-cards>img{
    width: 5rem;
    height: 5rem;
  }
  
  .home-cards-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start
  }
  
  .home-cards-heading{
    font-size: 1.2rem;
    color: var(--darkGrey);
    font-weight: bold;
  }
  