.about-wrapper {
  background: var(--pale);
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-container > img {
  width: 15rem;
}

.about-container > div {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 1rem;
}

.about-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-item span :nth-child(1) {
  padding-bottom: 1rem;
  font-size: 1rem;
}

.about-container button {
  border: none;
  font-weight: 600;
  font-size: 1rem;
  color: var(--darkGrey);
  background: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.about-container button:hover {
  transform: scale(1.05);
}

@media screen and (max-width : 768px) {
    .about-container > img{
      width: 10rem;
    }
}