.about-wrapper {
  background: var(--pale);
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-container > img {
  width: 15rem;
}

.about-container > div {
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem;
}

.about-item{
  display: flex;
  flex-direction: column;
  justify-content: center;align-items: center;
  padding: 1rem 5rem;
}

.about-item span {
padding-bottom: 1rem;
}

.about-container button{
  border: none;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--darkGrey);
}