.header-wrapper {
  background: var(--pale);
}
.header-container {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  justify-content: space-between;
}
.header-container > img {
  margin-left: 1rem;
  width: 10rem;
  height: 5rem;
  object-fit: cover;
}
li {
  list-style: none;
  padding: 0rem 2rem;
  cursor: pointer;
}
.header-menu {
  gap: 3rem;
  margin-right: 1rem;
  font-size: 1rem;
}
