.hero-wrapper {
  background: var(--pale);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-buttons button:nth-child(1){
  margin-top: 1rem;
  margin-right: 5rem;
  background: linear-gradient(to right, #a0a0a0 0%, #9e9e9e 100%);
}

.hero-right > img {
  width: 35rem;
  height: auto;
}
