.hero-wrapper {
  background: var(--darkPale);
}

.hero-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem; 
}

.hero-left {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.hero-buttons{
  display: grid;
  grid-template-columns: auto auto;
  align-items: start;
  justify-content: start;
  gap: 5rem;
}

.hero-buttons button:nth-child(1) {
  background: linear-gradient(to right, #a0a0a0 0%, #9e9e9e 100%);
}